@charset "UTF-8";
/* CSS Document */

    *{margin:0px;padding:0px;box-sizing: border-box}
	
    /* html,body基本框架設訂 */
    html,body{font-size:1em;line-height:28px;color:#333;background:#e9e9e9;font-family: 'Julius Sans One',Microsoft JhengHei;letter-spacing:0.5px;width:100%;height:100%;}
      
    h1{font-size:3.5em;line-height:68px;font-weight:100;margin-bottom:10px;}
	
	h2{font-size:1.6em;line-height:28px;font-weight:100;text-transform:uppercase;margin-bottom:10px;}
	
	h3{padding:10px 0px;font-size:1.1em;line-height:40px;text-transform:uppercase;font-weight:100;color:#7b7b7b;letter-spacing:1.5px;border-bottom:1px solid rgba(0,0,0,0.1);border-top:1px solid rgba(0,0,0,0.1);}	
	
	h4{font-size:0.8em;line-height:20px;}
	
	p{color:#333;}

    a{color:#333;text-decoration:none;}