@charset "UTF-8";
/* CSS Document */

 section{width:100%;height:100%;position:relative;clear:both;padding:10px;}   
section:nth-child(even){background:#fff;}
 article{padding:10px;}  

.float_left{float:left}
.float_right{float:right}

.c100{width:100%;}
.c50{width:50%;}
.c33{width:33%;}
.c25{width:25%;}

.photo img{width:100%;}
.border_style{border:1px solid rgba(0,0,0,0.5);}