@charset "UTF-8";
/* CSS Document */
.prod_num{
    color: #666;font-weight: 300;font-size:0.9rem;margin-bottom: 10px;
}
h2.prod_name {
    font-size: 1rem;
    color: #5a5a5a;
    font-weight: 400;
}
span.points.detail, span.money.detail{letter-spacing: 2px;	
	font-size:1.4rem;
	padding-left: 3px;
	width: 100%;
	display: block;margin-bottom:8px;    font-weight: 500;transform: scale(1.1);margin-left: 25px;
}

.article>.promo_block>span{width: fit-content;/*font-size: 0.5rem;*/min-width:min-content;height: auto;line-height: 1.4rem;
    padding: 0px 5px;}
img.red_green_block{margin-bottom:1px;width: 80px;height: auto;}


.detail>span.ng-star-inserted{font-size: 1rem;
}
span.oldPoint{font-size: 0.825rem;letter-spacing: 0px;font-weight: 300;}
.desc_text{width:49%;height: 60px; padding-top: 20px; border-top: 1px solid #edecec; float: left;margin-top: 20px;}
.desc_text>span{padding: 3px; border-bottom: 1px solid #999;font-weight: 500;}
.product_item>div{word-break: keep-all;}
.pasteContent{text-align: left;font-size: 0.9rem;}
.product-btn{width: 49%}
.Product_notice h3{    font-size: 1.4rem;
    padding-bottom: 5px;
	padding-left: 2px !important;
    border-bottom: 3px solid #E8E8E8;
	border-left:0px !important;
    position: relative;
    color: #333;
	font-weight: 400;}
.Product_notice h3::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 80px;
    left: 0;
    bottom: -3px;
    background-color: #DD5000;
}
@media screen and (max-width: 801px) {
	.article img.red_green_block{margin-bottom:0px;margin-right: 2px;}
	.desc_text{width: 90%;font-size: 1.1rem;}
	.product-desc>div{font-size: 1rem;padding: 10px;}
	.Product_notice h3{font-size: 1.2rem !important;}
	.article>.promo_block>span{font-size: 12px;}
}
@media screen and (max-width: 420px) {
	span.oldPoint{min-width: 140px;}
	span.points.detail, span.money.detail{margin-left: 10px;line-height: 20px;margin-top: 15px;}
	.article>.promo_block>span{display:inline-block;line-height: 1.3rem;padding-top: 1px;}
	
	
}