@charset "UTF-8";
/* CSS Document */
.activity_4col>div{vertical-align: top;}
/*.product> .activity_4col> div{
	line-height: 1rem;}*/
.product>.activity_4col>div>p{height: fit-content!important;    margin-bottom: 8px;line-height: 1rem;
}

.name{
    font-size: 1rem!important; 
    white-space: normal !important; 
    word-break: keep-all!important; 
	color: #444;
	height:auto!important;
}
.points{
	color:#333 !important;
	font-size:1.4rem!important;
}
.points span{
	color: #666;
	font-size:0.825rem;
	padding-left: 3px;
}
.points:before{
	content:'';
	background-image:  url("tgopoint.png");
	background-repeat: no-repeat;
	background-position: bottom;
    background-size:18px 18px;
	width: 22px;
	height: 20px;
    display:inline-block;
}
.money:before{
	content:'';
	background-image:  url("point_money.png");
	background-repeat: no-repeat;
	background-position: bottom;
    background-size:36px 18px;
	width: 40px;
	height: 20px;
    display:inline-block;
}
span.plus {
    color: #666 !important;
    font-size: 1.3rem !important;
    padding: 0px 2px; 
}
.oldPoint{padding-left: 10px!important;color:#b7b5b5!important;word-break: keep-all;display: inline-flex;text-decoration: line-through;}
/*好咖相伴*/
img.red_green_block{
	width:89px;height: 26px;margin-right: 4px;
   margin-bottom: 2px;
}
/*活動標籤*/
.promo_block{position: absolute;display: contents;font-size: 0.8rem;}
.promo_block>span{
	width:fit-content;height: 26px; padding: 1px 5px;color:#ee9920;border:1px solid #f2b672;margin:0px 4px 4px 0px;
    display: inline-block;
}
@media screen and (max-width: 960px) {
	.promo_block{width: calc(25% - 20px);}
}
@media screen and (max-width: 801px) {
    .promo_block{width: calc(50% - 20px);}
	.name{font-size: 0.9rem!important;line-height: 1.2rem;}
	.promo_block>span{width: fit-content;padding: 0px 5px;font-size:smaller;}
	.points{line-height: 1rem;}
	 img.red_green_block {
    	width:66px;height: 21px;margin-right: 4px;
   margin-bottom: 2px;
}
}

@media screen and (max-width: 420px) {
	.product>.activity_4col>div{padding-bottom: 20px!important;padding:unset!important;}
	.name{font-size: 0.875rem !important;word-break:normal !important;}
	.points{font-size: 1.2rem !important;}
/*活動標籤*/
	.promo_block>span{margin: 0px 2px 2px 0px;text-align: center;height: auto;line-height: 1.2rem;}
	.points:before {background-size: 15px 15px;width: 18px;}
	.money:before {background-size: 30px 15px;width: 32px;}	


}